<% layout("/layouts/boilarplate.ejs") %>
<div class="container mt-3">
  
  <div class="row mb-3 text-center">
    <div class="col-12 d-inline-block p-0 fontcr">
      <h3><%= listing.title %></h3>
    </div>
  </div>
  
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card">
        <img class="card-img-top custom-card-img" src="<%= listing.image.url %>" alt="listing_image"><br>
        <div class="card-body">
          <p>Owned by: <i><%= listing.owner.username %></i></p>
          <p class="card-text">
            <p><%= listing.description %></p>
            <p> &#8377; <%= listing.price.toLocaleString("en-IN") %>/ night   
            <% if (listing.slots > 0) { %>
              <span class="text-success"> - Available</span>
            <% } else { %>
              <span class="text-danger"> - Stock Out</span>
            <% } %>
           </p>
            <p><%= listing.location %>, <%= listing.country %></p>
          </p>
        </div>
      </div>
    </div>
  </div>  
  <% if (currUser && currUser._id.equals(listing.owner._id)) { %> 
  <div class="row justify-content-center" style="gap: 60px;">
    <div class="col-auto">
      <a href="/listings/<%= listing._id %>/edit" class="btn add-btn">Edit</a>
    </div>
    <div class="col-auto">
      <form method="post" action="/listings/<%= listing._id %>?_method=Delete">
        <button type="submit" class="btn btn-dark">Delete</button>
      </form>
    </div>
  </div>
  <hr>
  <br>
  <% } else if(currUser && listing.slots>0 ) { %>
  <div class="row justify-content-center">
    <div class="col-auto">
      <a href="/listings/book/<%= listing._id %>" class="btn add-btn">Book now</a>
    </div>
  </div>
  <hr>
  <br>
  <% } else {%>
    <div class="row justify-content-center">
      <div class="col-auto">
        <% if(listing.slots > 0){ %>
          <a href="/login" class="btn add-btn">Login to reserve</a>
          <% }else {%>
            <a class="btn add-btn">Not available</a>
            <% } %>
  </div>
  </div>
  <hr>
  <br>
  <% } %>
  <% if(currUser) { %>
  <div class="container d-flex justify-content-center align-items-center">
    <div class="col-md-8 col-lg-6 form-container">
      <h4 class="mb-4 text-center">Leave a Review</h4>
      <form action="/listings/<%= listing.id %>/reviews" method="post" novalidate class="needs-validation">
        <div class="form-group">
          <label for="rating">Rating</label>
          <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-control-range">
        </div>
        <div class="form-group">
          <label for="comment">Comments</label>
          <textarea name="review[comment]" id="comment" cols="30" rows="1.5" class="form-control" required></textarea>
          <div class="invalid-feedback">Comment can't be blank</div>
        </div>
        <div class="button-wrapper">
          <button type="submit" class="btn btn-primary submit-btn">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <% } %>
  <br>

<% if (listing.reviews.length > 0) { %>
    <h5>Reviews</h5>  
    <% } %>
  <div class="container">
    <div class="row">
      <% for (let review of listing.reviews) { %>
      <div class="col-12 col-md-6 mb-2">
        <div class="review-card">
          <b><p class="review-comment">
            <%= review.author.username %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="review-rating">
            <% for (let i = 1; i <= 5; i++) { %>
            <%= i <= review.rating ? '★' : '☆' %>
          <% } %></span></p></b>
          <p class="review-comment"><%= review.comment %></p>
          <% if(currUser && currUser._id.equals(review.author._id)){ %>
          <form method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
            <button class="btn btn-sm btn-dark">Delete</button>
          </form>
          <% } %>
        </div>
      </div>
      <% } %>
    </div>
    <%- include("../includes/host.ejs") %>
    <%- include("../includes/faq.ejs")  %>
  </div>
  <br>
</div>




