 <% layout("/layouts/boilarplate.ejs") %>
 <div class="container mt-3">
   <!-- Title Section -->
   <div class="row mb-3">
     <div class="col-12">
       <h3>Listing details:</h3>
     </div>
   </div>
   <!-- Card Section -->
   <div class="row justify-content-center mb-3">
     <div class="col-md-8 col-lg-6">
       <div class="card">
         <img class="card-img-top custom-card-img" src="<%= listing.image %>" alt="listing_image"><br>
         <div class="card-body">
           <p class="card-text">
             <b><%= listing.title %></b><br>
             <%= listing.description %> <br>
             <%= listing.price.toLocaleString("en-IN") %>/ night <br>
             <%= listing.location %> <br>
             <%= listing.country %> <br>
           </p>
         </div>
       </div>
     </div>
   </div>
 
   <!-- Buttons Section -->
   <div class="row justify-content-center">
     <div class="col-auto">
       <a href="/listings/<%= listing._id %>/edit" class="btn add-btn">Edit</a>
     </div>
     <div class="col-auto">
       <form method="post" action="/listings/<%= listing._id %>?_method=Delete">
         <button type="submit" class="btn btn-dark">Delete</button>
       </form>
     </div>
   </div>
 </div>
 <br>